$writing-color: rgb(36, 34, 34);
$lighter-dark: rgb(70 70 70);
$light-dark: rgb(22, 22, 22);
$primary-color: rgb(48 47 47);

$dark-pink: #761d38;
$dark-text: #a57b21;

$soft-pink: #e5bcbc;
$ready-pink: #d7a3a3;

$xs-screens: 320px;
$sm-screens: 520px;
$md-screens: 768px;
$lg-screens: 968px;
$xl-screens: 1120px;

@keyframes reveal {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}