$dark-bg: #0b0b0b;
$border-color: rgb(76, 76, 76);
$dark-text: #a57b21;
$soft-pink: #e5bcbc;
$ready-pink: #d7a3a3;
$xs-screens: 320px;
$sm-screens: 520px;
$md-screens: 768px;
$lg-screens: 968px;
$xl-screens: 1120px;

@keyframes reveal {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}