$writing-color: rgb(36, 34, 34);

$dark-pink: #761D38;
$dark-text: #441020;
$light-dark: #79243e;

$soft-pink: #E5BCBC;
$ready-pink: #d7a3a3;
$light-pink: #E5BCBC;

$tiny-screens: 320px;
$small-screens: 520px;
$medium-screens: 768px;
$large-screens: 1120px;
$massive-screens: 1720px;

@keyframes reveal {
 0% {
    opacity: 0;
 }
 50% {
    opacity: 1;
 }
}