@import "/common.scss";
// @import "swiper/swiper.min.css";
// @import "swiper/css/pagination";
// @import "swiper/css/free-mode";

html,
body {
  /* From https://mycolor.space/gradient?ori=circle&hex=%23282826&hex2=%23050803&sub=1 */
  background-image: radial-gradient(circle, #282826, #20211f, #191a17, #11120f, #050803);
  padding: 0;
  margin: 0;
  font-family: "DM Sans", serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

h1,
h2,
h3 {
  letter-spacing: 2px;
  color: $dark-text;
  margin: 2rem 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 2rem;
  font-size: 1rem;
}

button {
  margin-top: 1%;
  font-weight: 600;
  // color: black;
}

* {
  box-sizing: border-box;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: lightgray;

  >p {
    line-height: 2rem;
    text-align: center;
    width: 70%;
  }

  // The menu container
  .services-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
    padding-top: 3%;
  }

  .nav-buttons {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
  }

  >.swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    position: relative;
    margin-top: 3rem;
  }

  .swiper-wrapper {
    > :first-child {
      padding-left: 1rem;
    }

    > :last-child {
      padding-right: 1rem;
    }
  }

  >.carousel {
    width: 100%;
    min-height: 100% !important;
  }
}

@media (max-width: $lg-screens) {

  main {
    >section>p {
      margin: 5%;
      width: 80%;
    }

    >.services-content {
      grid-template-columns: 1fr;
      row-gap: 1rem;
    }
  }
}

@media (max-width: $md-screens) {
  main>section {

    // The menu container
    .services-content {
      grid-template-columns: 1fr;
    }
  }
}