@import "/common.scss";

.menuContainer {

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: lightgray;
  padding: 1% 6%;
  border-bottom: 1px solid rgb(34, 33, 33);

  svg {
    width: fit-content;
    height: fit-content;
    margin: 1rem 0 0.5rem 0;
    scale: 1.5;
  }

  >ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: unset;
    width: fit-content;

    >* {
      font-weight: bold;
      font-size: 1rem;
      padding: 0 1rem;
      letter-spacing: 1px;
    }
  }

  >.navIcon {
    display: none;
  }
}

@media (max-width: $md-screens) {
  .menuContainer {

    svg {
      width: 7rem;
      height: 5rem;
      margin: 1rem 0 0 0.5rem;
    }


    >ul {
      display: none;
    }

    >.navIcon {
      display: flex;
      align-self: center;
      justify-content: space-between;
      margin: 0.5rem;

      >* {
        align-self: center;
      }
    }
  }
}