@import "../common.scss";

.buttonGroupWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  > * {
    width: fit-content;
  }
  :first-child {
    margin-top: unset;
    margin-bottom: 0.5rem;
  }
}
