@import "../common.scss";

.buttonGroupWrapper {
  display: flex;
  > * {
    margin-right: 1rem;
  }
  :last-child {
    margin-right: unset;
  }
}

@media (max-width: $lg-screens) {
  .buttonGroupWrapper {
    flex-direction: column;
    > * {
      margin: 0.5rem 0;
    }
  }
}
