@import "../common.scss";

.card {
  transition: all 0.2s ease-out;
  // border-radius: 15px;
  // opacity: 1 !important;
  // border: 3px solid $lighter-dark;
  // border-radius: 1rem;
  display: flex;
  // box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
  //   rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  // animation: reveal 2s ease;
  // transition: all 0.2s ease-in;
  // background-color: black;
  // height: 20rem;
  // width: 100%;
  // cursor: pointer;
  // overflow: hidden;
  img {
    object-fit: cover;
  }
  // &:hover {
  //   opacity: 1;
  //   img {
  //     object-fit: cover;
  //     border-radius: 10px;
  //     transition: all 0.1s ease-out;
  //   }
  // }
  > .cardDetails {
    /* Dark-overlay for card text */
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0 0 1rem 1rem;
    margin-bottom: 0.3rem;

    padding: 0.5rem 1.5rem;
    position: absolute;
    align-self: end;
    width: 100%;
    overflow: hidden;
    // max-width: 250px;
    // margin: 1rem;
    small {
      background-color: $dark-text;
      padding: 0.5rem 0.5rem;
      margin-bottom: 0.5rem;
      border-radius: 0.5rem;
      color: $dark-text;
      letter-spacing: 0.5px;
    }
    h4 {
      // margin-top: 1.5rem;
      margin: unset;
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 1px;
      text-align: left;
      color: $dark-text;
      text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    }
    p {
      color: $dark-text;
    }
  }
}
.card:focus,
.card.active {
  opacity: 1;
  width: 100%;
  // transform: scale(1.2);
  img {
    filter: none;
  }
}
.card.inactive {
  opacity: 0.3;
  // img {
  //   filter: grayscale(100%);
  // }
}
