@import '../common.scss';

.card {
  border: 6px solid $writing-color;
  border-radius: 10px;
  display: flex;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  animation: reveal 2s ease;
  transition: all 0.2s ease-in;
  background-color: black;
  min-width: 263px;
  height: 13rem;
  width: 100%;
  opacity: 0.85 !important;
  img {
    object-fit: cover;
    border-radius: 15px;
    transform: scale(1.2);
    filter: grayscale(100%);
    transition: all 0.2s ease-out;
  }
  // .card:active,
  &:hover {
    opacity: 1;
    img {
      object-fit: cover;
      // transform: scale(1.25);
      border-radius: 10px;
      transition: all 0.1s ease-out;
      // filter: none;
    }
  }
  > .cardDetails {
    position: absolute;
    align-self: end;
    max-width: 250px;
    margin: 1rem;
    small {
      background-color: $dark-text;
      padding: 0.5rem 0.5rem;
      margin-bottom: 0.5rem;
      border-radius: 0.5rem;
      color: $light-pink;
      letter-spacing: 0.5px;
    }
    p {
      margin-top: 1.5rem;
      margin-bottom: unset;
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 1px;
      text-align: left;
      color: $light-pink;
      text-shadow: 
      1px 1px 2px black, 
      0 0 1em black, 
      0 0 0.2em black;
    }
  }
}
.card:focus,
.card.highlight {
  border: 6px solid $dark-text;
  opacity: 1 !important;
  transform: scale(1.03);
  img {
    transform: scale(1.2);
    filter: none;
  }
}