@import "../common.scss";

.carousel-image {
  width: 100%;
  height: 100% !important;
  > span {
    border: 3px solid #757575 !important;
    height: 20rem !important;
    border-radius: 1rem;
  }
  img {
    object-fit: cover;
  }
}
