@import "../common.scss";

.custom-image {
  font-size: 0;
  img {
    object-fit: cover;
  }
  > span {
    width: 100%;
    min-height: 20rem;
  }
  &.rounded {
    > span {
      border: 3px solid #757575 !important;
      border-radius: 1rem;
    }
  }
  &.darken {
    img {
      filter: brightness(40%);
    }
  }
}
