@import './common.scss';

.grid {
  /* flex-wrap: wrap; */
  /* justify-content: center; */

  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;

  div {
    width: 100%;
    // padding: 2.5rem;
    // min-width: 300px;
    // max-width: 5rem;
    text-align: center;
  }
}

@media (max-width: $large-screens) {
  .grid {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
}


@media (max-width: $medium-screens) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: $tiny-screens) {
  .grid div {
    min-width: 100%;
  }
}