@import "/common.scss";

header.heroImage {
  background: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  // ****************** hero image container
  > :first-child {
    // object-fit: cover;
    opacity: 0.2;

    >span {
      height: 100% !important;
    }

    img {
      object-fit: cover;
    }
  }

  // ****************** hero text container
  >.content {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    align-items: center;
    align-self: center;
    color: white;
    max-width: 70%;

    h1 {
      margin: unset;
    }

    p {
      letter-spacing: 2px;
      font-weight: 500;
    }

    button {
      margin: 2rem 0;
      width: fit-content;
    }
  }
}

@media (max-width: $lg-screens) {
  header.heroImage {
    >.content {
      max-width: 80%;

      h1 {
        font-size: 3rem;
      }
    }
  }
}