@import "/common.scss";

// The dark transparent overlay behind the modal
.drawer {
  background-color: rgba(0, 0, 0, 0.85);
  overflow-y: scroll;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

  h3 {
    padding: 0 1.5rem;
  }

  ul {
    padding: 0;

    >* {
      padding: 1rem 1.5rem;
      border-top: 0.5px solid #444444;
    }

    >li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style-type: circle;

      >p {
        margin: unset;
        font-size: small;
      }

      >small {
        color: $dark-text;
        align-self: center;
        font-weight: bolder;
      }
    }
  }
}

@media (max-width: $md-screens) {
  .drawer {
    ul {
      padding: 0;

      >li {
        display: block;

        >p {
          margin-bottom: 0.3rem;
        }
      }
    }
  }
}