@import "../common.scss";

.slide-select {
  // margin: 2.5rem 0;
  width: 100%;
  padding: 2rem !important;
  min-height: 100% !important;
  // overflow-y: auto;
  // overflow-x: hidden !important;
  // .swiper-wrapper {
  //   margin-bottom: 3rem !important;
  //   .swiper-slide {
  //     width: 20rem;
  //     &.swiper-slide-active {
  //       transform: scale(1.5);
  //       transition: height 1s ease-in-out;
  //     }
  //   }
  // }
}
