@import "src/common.scss";

.menuContainer {

  // Show the desktop nav container by default = desktop screens
  > :first-child {
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
      width: 15rem;
      height: 5rem;
      margin-bottom: unset;
    }

    ul {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      padding: unset;
      width: fit-content;
      margin: 3rem;

      >* {
        font-weight: bold;
        font-size: 1rem;
        padding: 0 1rem;
        letter-spacing: 1px;

        >a {
          color: inherit;
        }
      }
    }
  }

  // Hide the mobile nav container by default = desktop screens
  > :last-child {
    display: none;
  }
}

@media (max-width: $md-screens) {
  .menuContainer {

    // Hide the desktop nav container on smaller screens
    > :first-child {
      display: none;
    }

    // Show the mobile nav container on smaller screens
    > :last-child {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-bottom: 2rem;
      margin-left: 1.5rem;
      margin-right: 1.5rem;

      >* {
        align-self: center;
      }

      .hamburger-react {
        color: green !important;
      }

      svg {
        height: 3.5rem;
      }
    }
  }
}