@import "src/common.scss";

// .navigationButtons {
// padding: 0.5rem;
// display: flex;
// flex-direction: row;
// grid-gap: 0.5rem;
// bottom: 5%;
// transform: translate(-50%, -50%);
// margin-top: 2rem;
// }

// @media (max-width: $lg-screens) {
//     .navigationButtons {
//         >* {
//             margin: 1rem;
//         }
//     }
// }

button.backButton {
    z-index: 1;
    border-radius: 2rem;
    border: 1px $dark-text solid;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: $dark-text;
    left: 0;
}

button.exitButton {
    z-index: 1;
    border-radius: 2rem;
    border: 1px $dark-text solid;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: $dark-text;
    right: 0;

    &:hover {
        background-color: rgb(147, 43, 43);
        color: lightgray;
    }
}

button.nextButton {
    z-index: 1;
    border-radius: 2rem;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: $dark-text;
    color: lightgray;
    margin-top: 3rem;
    scale: 1.5;

    &:hover {
        border: 1px $dark-text solid;
        color: $dark-text;
    }
}