@import "src/common.scss";

.default {
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.default.primary {
  background-color: $dark-text;
  color: black;

  &:hover:enabled {
    background-color: invert($color: #000000);
    transition: all 0.5s ease;
  }
}

.default.secondary {
  background-color: transparent;
  color: $dark-text;
  border: 1px solid $dark-text;

  &:hover:enabled {
    background-color: white;
    color: black;
    transition: all 0.5s ease;
  }
}

.default.tertiary {
  background-color: transparent;
  color: $dark-text;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
