@import "src/common.scss";

.grid {
  /* flex-wrap: wrap; */
  /* justify-content: center; */

  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 5rem 2rem 5rem;

  div {
    text-align: left;
  }
}

// alternative grid style from https://codepen.io/dromo77/pen/ZEQWyaZ
// .grid {
//   display: grid;
//   grid-gap: $card-padding;
//   margin: 0 auto;
//   max-width: 60em;
//   padding: 0;

//   @media (min-width: 42em) {
//     grid-template-columns: repeat(3, 1fr);
//   }
// }

@media (max-width: $lg-screens) {
  .grid {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: $lg-screens) {
  .grid {
    grid-template-columns: 1fr;
  }
}
