@import "src/common.scss";

.profile-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  padding: 5%;

  .priceInfoContainer {
    display: flex;
    flex-direction: row;

    >p {
      font-size: 1.1rem;
      font-weight: bolder;
      letter-spacing: 3px;
    }

    >span {
      padding: 0.5rem;
      background: rgb(106, 106, 106);
      border-radius: 0.2rem;
      letter-spacing: 1px;
      font-size: 0.8rem;
      font-weight: bolder;
      align-self: center;
    }
  }

  .buttonGroup {
    >* {
      margin-right: 1rem;
    }
  }
}

@media (max-width: $lg-screens) {
  .profile-container {
    grid-template-columns: 1fr;
    row-gap: 1rem;

    button {
      width: 100%;
    }
  }

  .buttonGroup {
    display: flex;
    flex-direction: column;

    >* {
      margin: 0.5rem 0;
    }
  }
}

@media (max-width: $md-screens) {
  .profile-container {
    grid-template-columns: 1fr;
    padding: 10% 8%;
  }
}