h2.bookingHeader {
  font-size: 30px;
  text-align: center;
}

.buttonGroupContainer {
  display: flex;
  flex-direction: column;
  > * {
    margin: 0.5rem 0;
  }
}

.stageNavigationButtonGroup {
  display: flex;
  > * {
    margin: 0 0.5rem;
  }
}

@media (max-width: 1120px) {
  .buttonGroupContainer {
    flex-direction: column;
    > * {
      margin: 0.5rem;
    }
  }

  .stageNavigationButtonGroup {
    display: flex;
    flex-direction: column-reverse;
    > * {
      margin: 0.5rem;
    }
  }
}




