@import './../common.scss';

h1.homeHeader {
  font-size: 40px;
  text-align: center;
  color: $dark-text;
  a {
    color: $dark-pink;
  }
}

.buttonGroupContainer {
  display: flex;
  > * {
    margin: 0 0.5rem;
  }
}

@media (max-width: $medium-screens) {
  h1.homeHeader {
    font-size: 30px;
  }
  .buttonGroupContainer {
    flex-direction: column;
    > * {
      margin: 0.5rem 0rem;
    }
  }
}